.footerContainer {
  width: 70%;
  color: white;
  padding: 5% 10%;
  display: flex;
  flex-wrap: wrap;

  .topLink {
    color: #aeb0b1;
    margin: 0.5% 0 5% 0;
    width: 100%;
    display: block;
  }

  .link {
    color: #aeb0b1;
    margin: 0.5%;
    width: 30%;
    display: inline-block;
  }
}
